.formik {
  margin-top: 75px;
}

.form {
  width: 440px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 8px #adf8e6;

  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 26px;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 15px;
}

.headline {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #9fecda;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #9fecda;
  text-shadow: 0px 0px 10px #000000;
}

.field {
  width: 400px;
  height: 35px;
  padding: 0 10px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.formButton {
  box-sizing: border-box;
  width: 400px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #9fecda;
  align-self: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 0px 0px 1px #000000;

  &:hover {
    background-color: #1ed5a9;
    color: rgb(239, 239, 240);
    border: none;
  }
}

.formButton:disabled {
  background-color: rgb(138, 138, 138);
  box-shadow: 0px 0px 4px 4px #adf8e6;
  color: #fff;
}

.error {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: red;
}

.checkbox {
  margin: 0 auto;
}

.checkboxSpan {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #9fecda;
  text-shadow: 0px 0px 4px #000000;
}

.checkboxSpanCollor {
  color: #03fac0;
}
