.heder {
  display: flex;
  flex-direction: row;
  gap: 25px;

  a {
    color: white;
    font-weight: bold;
  }
  .active {
    text-decoration: underline;
    /* color: black; */
    color: #1ed5a9;
  }
}
/* .hederNav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
} */

.homeContact {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
